@import './_main.scss';
@import './fancySwitch.scss';

* {
    box-sizing: border-box;
}

main {
    margin-inline: auto;
    display: flex;
    width: 69vw;
    flex-direction: row;
    transition: all .2s ease-in-out;
    margin-top: 3rem;

    @media screen and (max-width: $mobile-threshold) {
        width: 98vw;
        flex-direction: column;
        margin-top: 1.5rem;
    }

    &[data-game] {
        > #noting-selected {
            display: none;
            font-size: 1.3rem;
            color: $gray-txt;
            text-align: center;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            width: 100%;

            > * {
                margin: 0;
            }

            > img {
                width: 40%;
            }
        }
    }
    &[data-game="none"] {
        > #noting-selected {
            display: flex;

            @media screen and (max-width: $mobile-threshold) {
                width: 95vw;
            }
        }
    }
}

#game-select {

    > [data-item] {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: .25rem .4rem;
        cursor: pointer;
        transition: all .2s ease-in-out;
        border-radius: 5px;

        &:hover {
            background-color: $gray-bg-hover;
        }
        &[data-selected="true"] {
            > span {
                color: $bj-gold;
            }
        }

        > img {
            width: 1.3rem;
            filter: invert(1);
        }
        > span {
            text-transform: capitalize;
            transition: color .2s ease-in-out;
        }
    }

    > [data-divider]{
        height: 1px;
        background-color: darken($gray-border, 30%);
        margin: .25rem 0;
    }

}

#top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 10rem;

    > [data-part] {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-left: 2px solid $gray-border;
        padding: .4rem;
        gap: .3rem;
        line-height: 1;

        > [data-label] {
            font-size: .9rem;
            color: $gray-border;
        }

        &[data-part="currentBalance"] {
            > #balance {
                font-variant-numeric: tabular-nums;
                transition: color 1s cubic-bezier(0.4, 0, 1, 1);

                &::before {
                    content: '★';
                    margin-right: .2rem;
                }

                &.good,
                &.bad {
                    transition: color .2s cubic-bezier(0.42, 0, 0.28, 1.26);
                }

                &.good {
                    color: $green-txt;
                }
                &.bad {
                    color: $red-txt;
                }

            }
        }

        &[data-part="gambledMoney"] {
            
            > [data-txt] {
                &::after {
                    content: attr(data-txt);
                    margin-left: .2rem;
                    color: $gray-border;
                    font-size: .8rem;
                }
            }

            > #tsTotal {
                color: $gray-txt;
            }
            > #tsProfit {
                &.positive {
                    color: $green-txt;
                }
                &.negative {
                    color: $red-txt;
                }
            }
            > #tsWon {
                color: $green-txt;
            }
            > #tsLost {
                color: $red-txt;
            }

        }

    }

    @media screen and (max-width: $mobile-threshold) {
        display: grid;
        grid-template-areas:
            "select balance"
            "select session";
        grid-template-columns: 1fr 1fr;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid gray;
        
        > [data-part="gameSelect"] {
            grid-area: select;
            > [data-item] {
                > span {
                    font-size: 1rem;
                }
            }
        }
        > [data-part="currentBalance"] {
            grid-area: balance;
        }
        > [data-part="gambledMoney"] {
            grid-area: session;
        }
    }

}



#game {
    width: fit-content;
    margin-inline: auto;
    margin-top: 1rem;
    position: relative;

    > #err {
        opacity: 0;
        transform: translateY(.5rem);
        position: absolute;
        height: fit-content;
        left: -5%;
        width: 110%;
        text-align: center;
        top: 23%;
        padding: .75rem;
        border-radius: $border-radius;
        backdrop-filter: blur(10px);
        background-color: #ff00002b;
        outline: 1px solid #7b1616;
        font-weight: bold;
        text-shadow: 0 0 10px black;
        user-select: none;
        pointer-events: none;
        z-index: 100;
        transition: opacity .25s ease-out, transform .25s ease-out;

        &.show {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &[data-game="nothing"] {
        display: none;
    }

    &[data-game="coinflip"] {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;

        > #coin {
            // https://codepen.io/seligmar/pen/RwPNQOd
            position: relative;
            width: 100px;
            height: 100px;
            cursor: pointer;
            transform-style: preserve-3d;

            &[data-disabled="true"] {
                cursor: wait;
            }

            > div[data-side] {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                backface-visibility: hidden;
                background-size: contain;
                
                &[data-side="heads"] {
                    background-image: url('/images/diskito_pfp.jpg');
                    transform: rotateY(0deg);
                }
                &[data-side="tails"] {
                    background-image: url('/images/ass.png');
                    transform: rotateY(180deg);
                }
            }

            --_start_rotation: 0deg;

            &[data-side="nutin"] {
                &[data-side-before="tails"] {
                    transform: rotateY(180deg);
                    --_start_rotation: 180deg;
                }
            }

            &[data-side="heads"] {
                transform: rotateY(var(--_start_rotation));
                animation: flip-heads 3s ease-out forwards;
            }
            &[data-side="tails"] {
                transform: rotateY(var(--_start_rotation));
                animation: flip-tails 3s ease-out forwards;
            }
            @keyframes flip-heads {
                from { transform: rotateY(var(--_start_rotation)); }
                to { transform: rotateY(1800deg); }
            }
            @keyframes flip-tails {
                from { transform: rotateY(var(--_start_rotation)); }
                to { transform: rotateY(1980deg); }
            }

        }

        > .f_switch {
            --rows: 1;
            --columns: 2;
            --cell_width: 146px;
            margin-inline: auto;

            > label {
                justify-content: center;
            }
        }

    }

    &[data-game="mines"] {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        > #err {
            top: 4%;
        }

        > .setup {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            
            > #betAmount {
                color: white;
                background: transparent;
                border: 1px solid $gray-bg;
                padding: .5rem 1rem;
                border-radius: $border-radius;
                font-size: 1rem;
                text-align: center;
    
                &:focus {
                    outline: none;
                    border-color: $gray-bg;
                }
                &:disabled {
                    cursor: not-allowed;
                }
            }

            > #minesAmountParent {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding-left: .5rem;

                > div {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                    gap: .5rem;
                    justify-items: end;

                    > img {
                        width: 1.5rem;
                        filter: invert(1);
                    }
                }
                > input {
                    cursor: pointer;
                    flex-grow: 1;
                    display: block;
                    height: 2px;
                }
            }

            > #playMines,
            > #playMinesAgane,
            > #cashOut {
                border: 1px solid $gray-bg;
                padding: .5rem 1rem;
                border-radius: 5px;
                font-size: 1rem;
                text-align: center;
                cursor: pointer;
                transition: all .2s ease-in-out;
                margin-top: .5rem;
                user-select: none;
                font-weight: bold;

                &:hover {
                    border-color: $bj-gold;
                    color: $bj-gold;

                    &:active {
                        background-color: $bj-gold;
                        color: $main-bg;
                    }
                }
            }

        }

        > #mines-place {
            display: grid;
            --_mine-size: 4rem;
            grid-template-columns: repeat(5, var(--_mine-size));
            grid-template-rows: repeat(5, var(--_mine-size));
            gap: .5rem;

            &[data-playable="false"] {
                > .mine {
                    opacity: .6;
                }
            }

            > .mine {
                background-image: url('/images/shrug.png');
                background-position: center;
                background-repeat: no-repeat;
                background-color: hsl(48deg 34.2% 20.96%);
                background-size: calc(100% - 1rem) calc(100% - 1rem);
                border-radius: $border-radius;
                cursor: pointer;
                transition: all .2s ease-in-out;
                user-select: none;
                position: relative;

                &[data-disabled="true"] {
                    cursor: default;
                }
                &[data-multiplier] {
                    &::after {
                        content: attr(data-multiplier) 'x';
                        bottom: 0;
                        position: absolute;
                        width: 64%;
                        left: 18%;
                        text-align: center;
                        backdrop-filter: blur(2px);
                        font-size: .8rem;
                        color: black;
                    }
                }

                &[data-type="loading"] {
                    background-image: url(/images/box.gif);
                    background-color: $gray-bg;
                }

                &[data-type="safe"] {
                    background-image: url(/images/gold_moai.png);
                    background-size: calc(100% - .8rem) calc(100% - .8rem);
                    background-color: #947400;
                }
                &[data-type="mine"] {
                    background-image: url(/images/bomb.png);
                    background-size: calc(100% - .8rem) calc(100% - .8rem);
                    background-color: $red-border;
                }
            }
        }
    }

    &[data-game="stats"] {
        display: grid;
        grid-template-columns: repeat(7, auto);
        gap: .5rem;
        height: fit-content;

        > [data-header] {
            font-weight: bold;
            &:not([data-w="game"]) {
                text-align: end;
            }
        }

        > [data-total] {
            font-style: italic;
        }

        > [data-divider] {
            height: 1px;
            background-color: $gray-border;
            grid-column: 1 / -1;
            width: 100%;
            margin: .25rem 0;
        }

        > [data-w]:not([data-header]) {
            &:not([data-w="game"]) {
                font-variant-numeric: tabular-nums;
                text-align: end;
                padding-inline: .25rem;
            }
            &[data-w="wins"],
            &[data-w="won-money"],
            &[data-positive="true"] {
                color: hsl( from #{$green-txt} h s 75% );
            }
            &[data-w="losses"],
            &[data-w="lost-money"],
            &[data-positive="false"] {
                color: hsl( from #{$red-txt} h s 85% );
            }
        }

    }

    [data-bet-amount-parent] {

        > input {
            color: white;
            background: transparent;
            border: 1px solid $gray-bg;
            padding: .5rem 1rem;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            font-size: 1.4rem;
            text-align: center;
            width: 100%;

            &:focus {
                outline: none;
                border-color: $gray-bg;
            }
            &:disabled {
                cursor: not-allowed;
            }
        }
        > [data-bet-amount-presets] {
            color: white;
            background: transparent;
            border: 1px solid $gray-bg;
            border-top: none;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            display: flex;
            width: 100%;

            > div {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                color: hsl(0 0% 50%);
                padding: .3rem;
                cursor: pointer;
                transition: all .2s ease-in-out;
                user-select: none;

                &:not(:last-of-type) {
                    border-right: 1px solid $gray-bg;
                }
                &:hover {
                    color: hsl(0 0% 100%);
                }
            }
        }

    }

}
