
@import './_main.scss';



main {
    width: fit-content;
    margin-inline: auto;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    @media screen and (max-width: $mobile-threshold) {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    > #hero {
        > img {
            height: 30rem;
        }
    }

    > #stats {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-self: start;

        > .thing {
            > .main {
                font-size: 1.4rem;

                > span[id] {
                    font-weight: bold;
                }
            }
            > .addit {
                font-style: italic;
                color: $main-txt-dark;
            }
        }
    }

}

