
@import './_main.scss';



main {
    width: fit-content;
    margin-inline: auto;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    @media screen and (max-width: $mobile-threshold) {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    > #hero {
        > img {
            height: 30rem;
        }
    }

    > #stats {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-self: start;

        > .thing {
            > .main {
                font-size: 1.4rem;

                > span[id] {
                    font-weight: bold;
                }
            }
            > .addit {
                font-style: italic;
                color: $main-txt-dark;
            }
        }

        > a#join-discord-btn {
            display: flex;
            gap: .7rem;
            padding: .7rem 1.2rem;
            width: fit-content;
            background-color: $bj-gold;
            color: $main-bg;
            font-weight: bold;
            border-radius: 69px;
            corner-shape: squircle;
            text-decoration: none;
            transition: background-color .3s ease;
            user-select: none;

            &:hover {
                background-color: darken($bj-gold, 10%);
            }

            > img {
                height: 1.3rem;
            }

        }

    }

}

