
@import './_main.scss';



main {
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 6rem;
    margin-top: 3rem;

    > .header {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    > table {

        border-collapse: collapse;
        border-spacing: 0;
        -webkit-border-horizontal-spacing: 0px;
        -webkit-border-vertical-spacing: 0px;

        > thead {
            > tr {
                > th {
                    padding: .2rem 1rem .2rem 1rem;
                    padding-bottom: 1rem;
                    font-size: 1.15rem;
                    user-select: none;
                    cursor: pointer;

                    &[data-srt=pfp] {
                        padding-inline: 0;
                    }
                }
            }
        }

        > tbody {

            > tr {
                font-variant-numeric: tabular-nums;
                
                > td {
                    padding-inline: 1rem;
                    text-align: right;

                    &[data-what=pfp] {
                        padding-inline: 0;

                        > div {
                            --_pfp-size: 3rem;
                            --_pfp-deco: .25rem;
                            position: relative;
                            width: var(--_pfp-size);
                            aspect-ratio: 1 / 1;

                            > img {
                                padding-inline: 0;
                                width: calc(var(--_pfp-size) - var(--_pfp-deco) * 2);
                                aspect-ratio: 1 / 1;
                                position: absolute;
                                left: 0;
                                top: 0;
                                
                                &[data-what=pfp] {
                                    border-radius: 50%;
                                    padding: var(--_pfp-deco);
                                }
                                &[data-what=deco] {
                                    width: var(--_pfp-size);
                                }
                            }
                        }
                    }

                    &[data-what=name] {
                        text-align: left;
                    }

                    &[data-what=more-info] {
                        text-align: center;

                        > img {
                            height: 2rem;
                            filter: invert(1);
                            cursor: pointer;
                        }
                    }
                    &.header {
                        font-size: 1.15rem;
                        font-weight: bold;
                    }

                }
            }
        }
    }

}
