@import './_main.scss';



#new-or-existing-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;

    > .switcharoo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}



#match-tracker {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10rem;
    margin-top: 3rem;

    > div {
        padding: 1rem;

        &#do_we_know_the_match_id {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            > #match_id_fork {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 1rem;
            }
        }

        &#match-id-picker {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            > #match-id {
                width: 36ch;
                font-size: 1rem;
                background: transparent;
                border: 1px solid $gray-border;
                border-radius: $border-radius;
                text-align: center;
            }
        }

        &#player-picker {
            max-width: 50rem;

            > .header {
                text-align: center;
                margin-bottom: .75rem;
            }

            > #players {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
                justify-content: center;

                > .player {
                    $player_card_height: 2rem;

                    display: flex;
                    align-items: center;
                    border-radius: 50rem;
                    border: 1px solid $gray-border;
                    border-left: 0;
                    height: $player_card_height;
                    cursor: pointer;
                    transition: all .1s ease-out;

                    > img {
                        height: calc($player_card_height + 2px);
                        border-radius: 50%;
                        filter: grayscale(1);
                    }

                    > div {
                        padding-inline: .7rem;
                        user-select: none;
                        color: $gray-border;
                        transition: all .1s ease-out;
                    }

                    &:hover {
                        border-color: $bj-gold;
                        transition: all .1s ease-in;

                        > img {
                            filter: grayscale(0);
                        }

                        > div {
                            color: white;
                            transition: all .1s ease-in;
                        }
                    }

                    &.selected {
                        border-color: $bj-gold;
                        
                        > img {
                            filter: grayscale(0);
                        }

                        > div {
                            color: white;
                        }
                    }

                }
            }

        }

        &#map-picker {
            
            .header {
                text-align: center;
                margin-bottom: .75rem;
            }

            > #maps {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                justify-items: center;
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
                max-width: 40rem;

                > .spinner {
                    grid-column: 1 / 5;
                }

                > .map {
                    position: relative;
                    cursor: pointer;
                    
                    > img {
                        width: 100%;
                        height: 100%;
                        user-select: none;
                        pointer-events: none;
                    }

                    > div {
                        position: absolute;
                        top: 0;
                        backdrop-filter: blur(3px);
                        padding: .25rem;
                        width: 100%;
                        text-align: center;
                        box-sizing: border-box;
                        text-shadow: 1px 1px 5px black;
                        transition: all .1s ease-out;
                    }

                    &.selected {
                        > div {
                            transition: all .1s ease-in;
                            background: $bj-gold;
                            color: black;
                            text-shadow: none;
                        }
                    }
                }
            }

        }

        &#additional-note {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;

            > textarea {
                width: 20rem;
                min-height: 5rem;
                background-color: transparent;
                color: white;
                border: 1px solid $gray-border;
                resize: vertical;
                padding: .8rem 1rem;
            }
        }

        &#find-match-parent {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;

            > #find-match {
                border: 1px solid $main-txt-dark;
                padding: .2rem .4rem;
                border-radius: $border-radius;
                cursor: pointer;
                user-select: none;
                border-color: $green-border;
                color: $green-txt;
                background-color: $green-bg;
                display: flex;
                width: 10ch;
                justify-content: center;
                height: 1.5rem;
                align-items: center;

                > .spinner {
                    height: 1.2rem;
                }

                &:hover {
                    color: $green-txt-hover;
                }
            }

        }

    }

}



#match-viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10rem;
    margin-top: 3rem;

    > #tracked-matches {

        > tbody {
            > tr {
                > td {
                    padding: .5rem;

                    &[data-what=created_at] {
                        font-variant-numeric: tabular-nums;
                    }
                    &[data-what=outcome] > div {
                        display: flex;
                        flex-direction: column;
                        gap: .1rem;
                    }
                    &[data-what=akschuns] > div {
                        display: flex;
                        flex-direction: column;
                        gap: .1rem;

                        > [data-update-archived] {
                            > img {
                                filter: invert(1);
                                height: 2rem;
                            }
                        }
                    }

                }
            }
        }

    }

}



#match-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10rem;
    margin-top: 3rem;


    > #info {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        > .info_group {
            display: flex;
            gap: .5rem;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
    
            > .thang {
                display: flex;
                font-size: .9rem;
                background: hsl(0 0% 14%);
                border-radius: $border-radius;
                cursor: default;
    
                > .key {
                    padding: .25rem .5rem .25rem .5rem;
                    color: $main-txt-hover;
                }
                > .value {
                    padding: .25rem .5rem .25rem .5rem;
                    background: $gray-bg-active;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
    
                    > .spinner {
                        height: .9rem;
                    }
                }
            }
    
        }
    }
    
    > #outcome_tab {

        > .header {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-weight: 400;
        }

        > table {
            > tbody {
                > tr {
                    
                    &.separator {
                        height: 1px;
                        background: #444;
                        > td { padding: 0; }
                    }
                    &.team-separator {
                        height: 1px;
                        background: $red-border;
                        > td { padding: 0; }
                    }

                    > td {
                        padding: .1rem .75rem;

                        &[data-what=pfp] {
                            padding-right: .5rem;

                            > img {
                                width: 3rem;
                            }
                        }

                        &[data-what=player] {
                            > .persona {
                                font-size: .9rem;
                                color: $gray-border;
                                font-weight: 300;
                            }
                        }

                        &[data-what=kd] {
                            text-align: center;

                            > .smol-dark {
                                font-size: .8rem;
                                color: $gray-border;
                            }
                        }
                        &[data-what=headshots] {
                            text-align: center;

                            > .smol-dark {
                                font-size: .8rem;
                                color: $gray-border;
                            }
                        }
                        &[data-what=teamkills] {
                            text-align: center;

                            > .smol-dark {
                                font-size: .8rem;
                                color: $gray-border;
                            }
                        }

                    }
                }
            }
        }
    }

    > #ranked_stats {

        > .header {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
        }
        > .info {
            text-align: center;
            font-size: 1rem;
            color: $gray-border;
            margin-bottom: 1rem;
        }

        > table {
            > tbody {
                > tr {

                    &.separator {
                        height: 1px;
                        background: #444;
                        > td { padding: 0; }
                    }
                    &.team-separator {
                        height: 1px;
                        background: $red-border;
                        > td { padding: 0; }
                    }

                    > td {

                        &[data-what=pfp] {
                            padding-right: .5rem;

                            > img {
                                width: 3rem;
                            }
                        }

                        &[data-what=player] {
                            > .persona {
                                font-size: .9rem;
                                color: $gray-border;
                                font-weight: 300;
                            }
                        }

                        &[data-what=rank] {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            > img {
                                height: 3rem;
                                padding-right: .5rem;
                            }

                            > .rank_rp {
                                display: flex;
                                flex-direction: column;

                                > :first-child {
                                    font-size: .8rem;
                                    color: $gray-border;
                                }
                                > :last-child {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: baseline;
                                    gap: .2rem;

                                    > div {
                                        color: $gray-border;
                                        font-size: .8rem;
                                    }
                                }
                            }
                        }

                        &[data-what=kd] {
                            text-align: center;

                            > .smol-dark {
                                font-size: .8rem;
                                color: $gray-border;
                            }
                        }
                        &[data-what=wl] {
                            text-align: center;

                            > .smol-dark {
                                font-size: .8rem;
                                color: $gray-border;
                            }
                        }

                        &[data-what=trn-link] {
                            text-align: center;

                            > a {
                                > img {
                                    width: 2rem;
                                    filter: invert(1);
                                    padding-inline: .5rem;
                                }
                            }
                        }

                    }
                }
            }
        }
    }


}
