@import './_main.scss';


#matchesList {
    width: fit-content;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 15rem);
    gap: 1rem;
    margin-top: 3rem;
    position: relative;

    &::before {
        content: 'Matches';
        position: absolute;
        top: -1.5rem;
        font-weight: bold;
        font-style: italic;
    }

    > .match {
        background-color: $gray-bg;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        > img {
            width: 100%;
            object-fit: cover;
            border-radius: calc(10px + .3rem);
            padding: .3rem;
            box-sizing: border-box;
        }

        > .match-info {
            padding: .4rem;
            padding-top: .1rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            
            > .tags {
                display: flex;
                gap: .4rem;
                width: fit-content;
                margin-inline: auto;

                > .tag {
                    font-size: .9rem;
                    background-color: gray;
                    padding: .1rem .4rem .05rem;
                    border-radius: 5px;

                    &.match-won {
                        background-color: $green-bg;
                        color: $green-txt;
                    }
                    &.match-lost {
                        background-color: $red-bg;
                        color: $red-txt;
                    }
                    &.match-in-progress {
                        background-color: oklch(0.77 0.16 100.47);
                        color: oklch(from oklch(0.77 0.16 100.47) calc(l * .1) c h);
                    }
                    &.match-score {
                        background-color: $yellow-bg;
                        color: $yellow-txt;
                    }
                    &.unknown-map {
                        background-color: $red-bg;
                        color: $red-txt;
                    }
                }
            }

            > .match-details {
                display: flex;
                flex-direction: column;
                gap: .25rem;
                width: fit-content;
                margin-inline: auto;

                > .deet {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    > span {
                        font-size: .9rem;
                    }
                }

            }

            > .view-match {
                margin-inline: auto;
                display: flex;
                align-items: center;
                padding-left: .7rem;
                text-decoration: none;
                gap: 0;
                transition: gap .1s;
                background-color: $main-bg;
                width: 100%;
                box-sizing: border-box;
                justify-content: center;
                border-radius: .4rem;
                padding-block: .25rem .2rem;

                &:hover {
                    gap: .35rem;
                }

                > span {
                    line-height: 1;
                }
            }
        }
    }
}

#matchDetails {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: fit-content;
    margin-inline: auto;
    margin-top: 2rem;

    > #matchRounds {
        display: flex;
        gap: .5rem;

        > .round-divider {
            display: grid;
            place-items: center;
            filter: brightness(.5);
            margin-inline: -.3rem;
        }

        > .round {
            display: flex;
            align-items: flex-start;
            gap: .25rem;
            background-color: $yellow-bg;
            border-radius: $border-radius;
            padding: .5rem;
            flex-direction: column;
            position: relative;
            height: 5rem;
            width: 5rem;

            &[data-vi-von="true"] {
                background-color: $green-bg;
            }

            > .role-icon {
                height: 5rem;
                position: absolute;
                left: .25rem;
                top: .5rem;
                z-index: 1;
            }
            > .info {
                margin-top: auto;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: .2rem;
                z-index: 10;
                cursor: default;
                user-select: none;

                > .time {
                    text-align: end;
                    padding-right: .25rem;
                }

                > .survivors {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    > .attack,
                    > .defend {
                        display: flex;
                    }
                }
            }
        }
    }

    > #playerStats {
        display: flex;
        flex-direction: column;
        gap: .2rem;

        > .team-divider {
            background-color: $login-btn-bg;
            height: 3px;
            margin-block: 5px;
        }

        > .header,
        > .player {
            display: grid;
            grid-template-columns: 3rem 10rem 3rem 5rem 5rem 3px 5rem 3.2rem;
            justify-content: space-evenly;
            gap: .5rem;
        }

        > .header {
            justify-items: center;
        }

        > .player {
            align-items: center;

            > .avatar {
                width: 100%;
            }

            > .name {
                display: flex;
                flex-direction: column;
                justify-content: center;

                > .persona {
                    font-size: .9rem;
                    color: $main-txt-dark;
                }
            }

            > .rank {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                > img {
                    width: 75%;
                }
                > .rank-points {
                    font-size: .8rem;
                    color: $main-txt-dark;
                }
            }

            > .ranked-kd,
            > .ranked-wl,
            > .game-kda {
                display: flex;
                flex-direction: column;
                align-items: center;

                > .main {
                    font-weight: bold;
                    font-style: italic;
                }
                > .smol-dark {
                    font-size: .8rem;
                    color: $main-txt-dark;
                }
            }

            > .score {
                text-align: end;
                font-variant-numeric: tabular-nums;
            }

            > .divider {
                height: 100%;
                width: 3px;
                background-color: $login-btn-bg;
            }
        }
    }

}
