@import './_main.scss';


#matchesList {
    width: fit-content;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 15rem);
    gap: 1rem;
    margin-top: 3rem;
    position: relative;

    @media (max-width: $mobile-threshold) {
        grid-template-columns: repeat(2, 15rem);
        gap: .5rem;
    }

    &::before {
        content: 'Matches';
        position: absolute;
        top: -1.5rem;
        font-weight: bold;
        font-style: italic;
    }

    > .match {
        background-color: $gray-bg;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        > img {
            width: 100%;
            object-fit: cover;
            border-radius: calc(10px + .3rem);
            padding: .3rem;
            box-sizing: border-box;
        }

        > .match-info {
            padding: .4rem;
            padding-top: .1rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            
            > .tags {
                display: flex;
                gap: .4rem;
                width: fit-content;
                margin-inline: auto;

                > .tag {
                    font-size: .9rem;
                    background-color: gray;
                    padding: .1rem .4rem .05rem;
                    border-radius: 5px;

                    &.match-won {
                        background-color: $green-bg;
                        color: $green-txt;
                    }
                    &.match-lost {
                        background-color: $red-bg;
                        color: $red-txt;
                    }
                    &.match-in-progress {
                        background-color: oklch(0.77 0.16 100.47);
                        color: oklch(from oklch(0.77 0.16 100.47) calc(l * .1) c h);
                    }
                    &.match-score {
                        background-color: $yellow-bg;
                        color: $yellow-txt;
                    }
                    &.unknown-map {
                        background-color: $red-bg;
                        color: $red-txt;
                    }
                }
            }

            > .match-details {
                display: flex;
                flex-direction: column;
                gap: .25rem;
                width: fit-content;
                margin-inline: auto;

                > .deet {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    > span {
                        font-size: .9rem;
                    }
                }

            }

            > .view-match {
                margin-inline: auto;
                display: flex;
                align-items: center;
                padding-left: .7rem;
                text-decoration: none;
                gap: 0;
                transition: gap .1s;
                background-color: $main-bg;
                width: 100%;
                box-sizing: border-box;
                justify-content: center;
                border-radius: .4rem;
                padding-block: .25rem .2rem;

                &:hover {
                    gap: .35rem;
                }

                > span {
                    line-height: 1;
                }
            }
        }
    }
}

#matchDetails {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: fit-content;
    margin-inline: auto;
    margin-block: 5px 2rem;

    > #matchInfo {
        width: 25rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
        background-color: $gray-bg;
        border-radius: 7px;

        > .map-image {
            width: 100%;
            border-radius: 7px;
        }

        > .data {
            padding: .7rem;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            > .score {
                display: flex;
                align-items: center;
                gap: .3rem;

                > .num {
                    font-size: 3rem;
                    font-weight: bold;
                    font-style: italic;
                }
                > .dvdr {
                    font-size: 2rem;
                    font-weight: bold;
                    font-style: italic;
                    color: $main-txt-dark;
                }
            }
        }
    }

    > #matchRounds {
        display: flex;
        gap: .5rem;

        > .round-divider {
            display: grid;
            place-items: center;
            filter: brightness(.5);
            margin-inline: -.3rem;
        }

        > .round {
            display: flex;
            align-items: flex-start;
            gap: .25rem;
            background-color: $yellow-bg;
            border-radius: $border-radius;
            padding: .5rem;
            flex-direction: column;
            position: relative;
            height: 4rem;
            width: 4rem;

            &[data-vi-von="true"] {
                background-color: #10281b;
            }
            &[data-vi-von="false"] {
                background-color: #2e1212;
            }

            > .role-icon {
                height: 4rem;
                position: absolute;
                left: .3rem;
                top: .5rem;
                z-index: 1;
            }
            > .info {
                margin-top: auto;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: .2rem;
                z-index: 10;
                cursor: default;
                user-select: none;

                > .time {
                    text-align: end;
                    font-size: .9rem;
                }

                > .survivors {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    > .attack,
                    > .defend {
                        display: flex;
                    }
                }
            }
        }
    }

    > #playerStats {
        display: flex;
        flex-direction: column;
        gap: .2rem;

        > .team-divider {
            background-color: $login-btn-bg;
            height: 3px;
            margin-block: 5px;
        }

        --_grid_cols: 3rem 10rem 3rem 5.2rem 5rem 5rem 3px 5rem 3.7rem;
        --_grid_cols_auth: var(--_grid_cols) 3px 5rem;

        &.auth {
            > .header,
            > .player {
                grid-template-columns: var(--_grid_cols_auth);
            }
        }

        > .header,
        > .player {
            display: grid;
            grid-template-columns: var(--_grid_cols);
            justify-content: space-evenly;
            gap: .5rem;
        }

        > .header {
            justify-items: center;

            > span {
                color: $main-txt-dark;
                font-style: italic;
                text-transform: uppercase;
                text-align: start;

                &:nth-of-type(2) {
                    justify-self: start;
                }
            }
        }

        > .player {
            align-items: center;

            > .avatar {
                width: 100%;
            }

            > .name {
                display: flex;
                flex-direction: column;
                justify-content: center;

                > .persona {
                    font-size: .9rem;
                    color: $main-txt-dark;
                }
            }

            > .rank {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                > img {
                    width: 75%;
                }
                > .rank-points {
                    font-size: .8rem;
                    color: $main-txt-dark;
                }
            }

            > .ranked-kd,
            > .ranked-wl,
            > .game-kda {
                display: flex;
                flex-direction: column;
                align-items: center;

                > .main {
                    font-weight: bold;
                    font-style: italic;
                }
                > .smol-dark {
                    font-size: .8rem;
                    color: $main-txt-dark;
                }
            }

            > .links {
                display: flex;
                flex-wrap: wrap;
                font-size: .8rem;
                flex-direction: column;
                align-items: center;

                > a {
                    color: $main-txt-dark;
                    text-decoration: none;
                    transition: color .2s;

                    &:hover {
                        color: $main-txt-hover;
                    }
                }
            }

            > .score {
                text-align: end;
                font-variant-numeric: tabular-nums;
                padding-right: .3rem;
            }

            > .mark {
                display: flex;
                justify-content: center;

                > img {
                    cursor: pointer;
                    transition: all .2s;
                    width: 24px;
                    box-sizing: border-box;
                    overflow: hidden;

                    &[data-marked="false"] {
                        filter: opacity(.5);
                        &:hover {
                            filter: opacity(1);
                        }
                        &:active {
                            filter: opacity(.7);
                        }
                    }
                    &[data-marked="loading"] {
                        background: url(/images/box.gif) no-repeat;
                        background-size: contain;
                        display: block;
                        padding-left: 12px;
                        padding-right: 12px;
                    }
                    &[data-marked="true"] {
                        filter: brightness(0) saturate(100%) invert(32%) sepia(100%) saturate(3973%) hue-rotate(337deg) brightness(90%) contrast(92%);
                        &:hover {
                            opacity: .6;
                        }
                    }

                }
            }

            > .divider {
                height: 100%;
                width: 3px;
                background-color: $login-btn-bg;
            }
        }
    }

}
