
@import './_main.scss';
@import './fancySwitch.scss';

@font-face {
    font-family: 'R6Italic';
    src: url('/fonts/r6italic.woff2') format('woff2');
}


.f_switch {
    --rows: 1;
    --columns: 2;
    --cell_width: 120px;

    margin-top: 2rem;
    margin-inline: auto;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 1rem;

    > #above-table {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        > .right {
            display: flex;
            gap: .2rem;
            align-items: center;
            color: $main-txt-dark;
        }

        #lastUpdated {
            color: $main-txt-dark;
            font-variant-numeric: tabular-nums;

            &:has(.spinner) {
                height: 1rem;
            }

            > .spinner {
                height: 1rem;
            }
        }
    }

    > table {
        border-collapse: collapse;
        border-spacing: 0;
        -webkit-border-horizontal-spacing: 0px;
        -webkit-border-vertical-spacing: 0px;

        > thead {
            > tr {
                > th {
                    padding: .2rem 1rem .2rem 1rem;
                    font-size: 1.15rem;

                    > span {
                        font-weight: lighter;
                        color: $main-txt-dark;
                    }
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    text-align: center;
                    vertical-align: middle;

                    &[data-what="pfp"] {
                        > img {
                            height: 4rem;
                            border-radius: 5px;
                        }
                    }

                    &[data-what="name"] {
                        text-align: left;
                        padding-left: 1rem;

                        > div {
                            display: flex;
                            flex-direction: column;

                            > .persona {
                                font-size: .9rem;
                                color: $main-txt-dark;
                            }
                        }
                    }

                    &[data-what="playtime"] {
                        > div {
                            display: flex;
                            flex-direction: column;

                            font-variant-numeric: tabular-nums;
                            text-align: right;

                            > .level {
                                font-size: .9rem;
                                color: $main-txt-dark;
                            }
                        }
                    }

                    > .rank-img-cell {
                        > [data-rank-pos] {
                            position: relative;
                            display: inline;

                            &::after {
                                content: attr(data-rank-pos);
                                position: absolute;
                                top: -68%;
                                left: 47%;
                                transform: translate(-50%, -50%);
                                font-family: 'R6Italic', sans-serif;
                                font-size: 1.4rem;
                            }
                        }
                    }

                    > .smol-dark {
                        font-size: .8rem;
                        color: $gray-border;
                    }
                }
            }
        }

        @media screen and (max-width: $mobile-threshold) {

            td, th {
                &[data-what="pfp"],
                &[data-what="rank_points"],
                &[data-what="playtime"] {
                    display: none;
                }
            }

            .hide-mobile {
                display: none;
            }
            
        }

    }

}
