
@import './_main.scss';


main {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 3rem;

    > #above-table {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        #siegePcStatus {
            > .spinner {
                height: 1rem;
            }
        }

        #lastUpdated {
            > .spinner {
                height: 1rem;
            }
        }
    }

    > table {
        border-collapse: collapse;
        border-spacing: 0;
        -webkit-border-horizontal-spacing: 0px;
        -webkit-border-vertical-spacing: 0px;

        > thead {
            > tr {
                > th {
                    padding: .2rem 1rem .2rem 1rem;
                    font-size: 1.15rem;
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    text-align: center;
                    vertical-align: middle;

                    // Name
                    &:nth-child(2) {
                        text-align: left;
                        padding-left: 1rem;
                    }

                    > .smol-dark {
                        font-size: .8rem;
                        color: $gray-border;
                    }
                }
            }
        }

        @media screen and (max-width: $mobile-threshold) {

            .hide-mobile {
                display: none;
            }

        }

    }

}
