@import './_main.scss';
@import './_switch.scss';

main {
    margin-inline: auto;
    margin-bottom: 6rem;
    margin-top: 3rem;

    --cols: 2;
    --gap: 1rem;
    --width: 95vw;

    width: var(--width);
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--cols), calc((var(--width) / var(--cols)) - (var(--cols) - 1) * var(--gap) ));
    grid-template-areas:
        "dailyVoicePerYearChart dailyVoicePerYearChart"
        "yearlyVoicePerUserChart totalMessagesPerUserChart"
    ;

    @media screen and (max-width: $mobile-threshold) {
        grid-template-columns: var(--width);
        grid-template-areas:
            "dailyVoicePerYearChart"
            "yearlyVoicePerUserChart"
            "totalMessagesPerUserChart"
        ;
    }

    > .stats-container {
        border: 1px solid hsl(0, 0%, 14%);
        border-radius: 1.5rem;
        corner-shape: squircle;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        &:not(:has(.switcharoo)) {
            > .chart {
                height: 27rem;
            }
        }

        &[data-stat="daily-voice-per-year"]    { grid-area: dailyVoicePerYearChart; }
        &[data-stat="yearly-voice-per-user"]   { grid-area: yearlyVoicePerUserChart; }
        &[data-stat="total-messages-per-user"] { grid-area: totalMessagesPerUserChart; }

        > .header {
            font-size: 1.3rem;
            font-weight: bold;
            padding-inline: .25rem;

            > span {
                color: hsl(0, 0%, 70%);
                font-weight: normal;
                font-size: 1rem;
            }
        }

        > .chart {
            height: 25rem;
            width: 100%;       
        }

        > .switcharoo {
            @include switch;
        }

    }

}
