@import './_main.scss';
@import './_switch.scss';

main {
    margin-inline: auto;
    margin-bottom: 6rem;
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    > .stats-container {
        border: 1px solid hsl(0, 0%, 14%);
        border-radius: 1.5rem;
        corner-shape: squircle;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        > .header {
            font-size: 1.3rem;
            font-weight: bold;
            padding-inline: .25rem;

            > span {
                color: hsl(0, 0%, 70%);
                font-weight: normal;
                font-size: 1rem;
            }
        }

        > .chart {
            height: 25rem;
            width: 50rem;        
        }

        > .switcharoo {
            @include switch;
        }

    }

}
