#games {
    margin-top: 5rem;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}
a {
    text-decoration: none;
}

.game {
    margin: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 4 / 5;
    width: 20rem;
    background-size: cover;
    transition: .1s ease-in-out;
    border-radius: 0.2rem;
    box-shadow: rgb(99 99 99 / 40%) 4px 8px 16px 0px;
}
.game:hover {
    transform: scale(1.02);
}

.siege {
    background-image: url("/resources/img/siege.webp")
}
.pubg {
    background-image: url("/resources/img/pubg.webp")
}

@media (max-width: 1000px) {
    #games {
        margin: 3rem 0 2rem 0;
    }
}
