
body .main {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 1000px) {
    body .main {
        justify-content: flex-start;
    }
}

body .main .section {
    height: 20rem;
    margin-top: 5rem;
    padding-left: 1rem;
    border-left: 5px solid var(--chaun-red);
}

body .main .section.links {
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    justify-content: flex-start;
}
.links-divider {
    width: 20%;
    padding: 0;
    margin: .4rem 0 .4rem 0;
    border: 1px solid var(--chaun-blue);
}
body .main .section.links a {
    padding: 0.2rem;
    text-decoration: none;
    color: var(--chaun-blue);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
}
body .main .section.links a:hover {
    text-decoration: underline var(--chaun-red);
}
body .main .section.links .header {
    font-weight: 700;
    font-size: 3rem;
    color: var(--chaun-blue);
}

body .main .section.widget {
    overflow: auto;
    min-width: 18rem;
}
body .main .section.widget .online {
    font-weight: 700;
    font-size: 3rem;
    color: var(--chaun-blue);
}
body .main .section.widget .users {
    display: flex;
    flex-flow: column nowrap;
}
body .main .section.widget .users .user {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
body .main .section.widget .users .user .us {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}
body .main .section.widget .users .user .us .username {
    padding-left: 5px;
    margin-right: 1rem;
    font-weight: 500;
    font-size: 1rem;
}
body .main .section.widget .users .user .us .status {
    position: relative;
    top: 0;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid var(--background-color);
    border-radius: 50%;
}
body .main .section.widget .users .user .us .status.status-online {
    background-color: var(--w-online);
}
body .main .section.widget .users .user .us .status.status-idle {
    background-color: var(--w-idle);
}
body .main .section.widget .users .user .us .status.status-dnd {
    background-color: var(--w-dnd);
}
body .main .section.widget .users .user .activity {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}
body .main .section.widget > .users > .user > .activity > .voice-icons {
    cursor: default;
}

body .main .section.voice .header {
    flex-grow: 100%;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
}
body .main .section.voice #voice-stats {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}
body .main .section.voice #voice-stats .voice-lines {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem 0 .5rem 0;
}
body .main .section.voice #voice-stats .voice-lines > .user {
    width: 45%;
}
body .main .section.voice #voice-stats .user {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 2rem;
}
body .main .section.voice #voice-stats .username {
    font-weight: 500;
    font-size: 2rem;
}
body .main .section.voice #voice-stats .time {
    font-weight: 400;
    font-size: 2rem;
}
body .main .section.voice #voice-stats .voice-total {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}
