:root {
    --bj-gold: hsl(48, 37%, 62%);
    --chaun-blue-old: hsl(212, 33%, 23%);
    --chaun-blue: hsl(225deg, 3%, 11%);
    --chaun-blue-d: hsl(213, 81%, 8%);
    --chaun-red: hsl(359, 83%, 63%);

    --gray: hsl(220, 1%, 58%);

    --background-color: hsl(46, 100%, 97%);

    --w-online: #32d296;
    --w-idle: #faa05a;
    --w-dnd: #f0506e;
    --w-streaming: #573591;

    --navbar-height: 5rem;
}

@font-face {
    font-family: "DN_FTCAXQdEjKRXjGbCH0lE"; /* Normal */
    src: url("/resources/fonts/DN_FTCAXQdEjKRXjGbCH0lE.otf");
    font-display: swap;
}
@font-face {
    font-family: "DM_U4OIZE8TpOW8Kw0k2MQa"; /* Medium */
    src: url("/resources/fonts/DM_U4OIZE8TpOW8Kw0k2MQa.otf");
    font-display: swap;
}
.siege-font-normal {
    font-family: "DN_FTCAXQdEjKRXjGbCH0lE";
}
.siege-font-medium {
    font-family: "DM_U4OIZE8TpOW8Kw0k2MQa";
}


.text-online,
.text-success {
    color: var(--w-online);
}
.text-idle,
.text-warning {
    color: var(--w-idle);
}
.text-dnd,
.text-danger {
    color: var(--w-dnd);
}


* {
    font-family: 'Montserrat', sans-serif;
    color: var(--chaun-blue);
}

html {
    font-size: 16px;
}

body {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin: 0.75rem;
    background-color: var(--background-color);
}

html[data-logged-in="false"] .swli {
    display: none !important;
}

/* Navbar */
.navbar {
    min-width: 96%;
    padding: 0 1rem 0 1rem;
    color: var(--chaun-blue);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navbar .branding {
    font-weight: 700;
    font-size: 3rem;
}
.navbar .branding a {
    text-decoration: none;
    color: var(--chaun-blue);
    cursor: pointer;
}
.navbar .branding #dvojbodka {
    color: var(--bj-gold);
}

.navbar .navigation {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.navbar .navigation a {
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: var(--chaun-blue);
}
.navbar .navigation .divider {
    height: 2rem;
    width: 1px;
    background-color: var(--chaun-blue);
}
.navbar .navigation a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--chaun-blue);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.navbar .navigation a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar .at-right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}
.navbar .at-right #theme-switch {
    margin-left: 2rem;
    font-size: 2rem;
    cursor: pointer;
}

.navbar .at-right .login-button {
    display: flex;
    align-items: center;
    justify-content: right;
    font-weight: 700;
    font-size: 2rem;
    text-align: right;
    color: var(--chaun-red);
    text-decoration: none;
    will-change: transform;
    transition: transform 0.25s ease-out;
}
.navbar .at-right .login-button:hover {
    cursor: pointer;
}

.navbar-mobile {
    display: none;
}
#restt {
    display: none;
}

@media (max-width: 1000px) {
    .navbar {
        display: none;
    }
    .navbar-mobile {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);
    }

    #restt {
        height: 100vh;
        background: rgba(0, 0, 0, .1);
        color: transparent;
        z-index: 99;
        backdrop-filter: blur(5px);
    }


    #menu {
        background: var(--background-color);
        color: var(--chaun-blue);
        text-align: center;
        line-height: 5.5vh;
        font-size: 3vh;
    }
    #hidden {
        line-height: 4vh;
        font-size: 2.5vh;
        font-weight: 300;
        margin: 0;
        padding: 0;
        display: none;
    }
    #hidden > * {
        display: block;
        width: 100%;
        height: 6vh;
        line-height: 6vh;
        font-size: 2.5vh;
        text-decoration: none;
        text-align: center;
        background: var(--background-color);
        color: var(--chaun-blue);
    }
    #hidden #first {
        border-top: 3px solid var(--chaun-red);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
    }
    #hidden #first > * {
        width: 50%;
        text-decoration: none;
    }
    #hidden .divider {
        width: 100%;
        height: 2px;
        background-color: var(--chaun-red);
    }
    #hidden > :last-child {
        color: var(--chaun-red);
        font-weight: 700;
    }
}


/* Pretty selection */
::selection {
    background: var(--bj-gold);
}


/* Pretty scrollbar */
.pretty-scrollbar *::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    background-color: transparent;
}
.pretty-scrollbar *::-webkit-scrollbar-track:horizontal {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.pretty-scrollbar *::-webkit-scrollbar-thumb {
    min-width: 3rem;
    min-height: 3rem;
    background-color: rgba(0, 0, 0, 0.25);
    border: 0.4rem solid transparent;
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border-radius: 1rem;
}
.pretty-scrollbar *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: transparent;
}
.pretty-scrollbar *::-webkit-scrollbar-corner {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.05);
}
.pretty-scrollbar * {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.25) #25282c;
}

/* No clickity click */
.pls-no-click {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}
