:root {
    --big-divider: 2rem;
}

.main {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-bottom: var(--big-divider);
}

#avatar {
    object-fit:cover;
    border-radius:50%;
}

#username {
    font-size: 2rem;
    font-weight: bold;
}


.stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}
.stats > .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats > .stat > .stat_value {
    font-size: 1.25rem;
}
.stats > .stat > .stat_name {
    font-style: italic;
}

@media (max-width: 1000px) {
    .main {
        margin-top: 5rem;
    }
}

#roles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
    max-width: 1000px;
    margin-top: var(--big-divider);
}
#roles > #roles-header {
    width: 100%;
    text-align: center;
}
#roles > .role {
    border-width: 1.5px;
    border-style: solid;
    border-radius: .5rem;
    font-size: .85rem;
    padding: .2rem .4rem;
}
