#main {
    margin-top: 3rem;
}
#main > #header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#main > #header > #h {
    font-size: 5rem;
}
#main > #header > #bottom-text {
    margin-top: 1rem;
    font-size: 2rem;
}
#main > #nfts {
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}
#main > #nfts > img {
    width: 15rem;
    will-change: transform;
    transition: transform 250ms ease;
}
#main > #nfts > img:hover {
    transform: scale(1.05);
}

@media (max-width: 1000px) {
    #main {
        margin-top: 5rem;
    }
    #main > #header > #h {
        font-size: 3rem;
    }
    #main > #header > #bottom-text {
        margin-top: .5rem;
        font-size: 1rem;
    }
}
