
.main {
    width: 100%;
    max-width: 1000px;
    margin-top: 3rem;
    display: flex;
    flex-flow: column;
    padding-bottom: 2rem;
}
@media (max-width: 1000px) {
    .main {
        margin-top: 5rem;
    }
}

.user-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end
}
.user-header > .left {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end
}
@media (max-width: 1000px) {
    .user-header,
    .user-header > .left,
    .user-header > .right {
        flex-flow: column wrap !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .user-header > .left > #username {
        margin: .5rem 0 .5rem 0 !important;
    }
}
.user-header > .left > .header-stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
}
.user-header > .left > .header-stats > * {
    margin-left: 0.6rem;
    font-size: 2rem;
}
.user-header > .left > .header-stats > #total_playtime {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: baseline;
}
.user-header > .left > .header-stats > #level {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: baseline;
}
.user-header > .left > #profile_picture {
    width: 10rem;
    height: 10rem;
    display: block;
    box-shadow: rgba(99, 99, 99, 0.4) 4px 8px 16px 0px;
    transition: box-shadow 0.2s ease-in-out;
}
.dark-mode .user-header > .left > #profile_picture {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    transition: box-shadow 0.2s ease-in-out;
}
.user-header > .left > #username {
    line-height: 100%;
    font-size: 3rem;
    padding-bottom: 0;
    margin: 0 0 0 .75rem;
}
.user-header > .right {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
}
#siegeManualUpdateButton {
    cursor: pointer;
}
#siegeManualUpdateButton.requested {
    cursor: wait;
}

@media (max-width: 1000px) {
    .user-header {
        justify-content: center;
    }
    .user-header > .left {
        justify-content: center;
    }
    .user-header > .right {
        margin-top: 1rem;
    }
}

/* Divider */
.main > div.divider {
    width: 100%;
    margin: 1rem 0 1rem 0;
    padding: 0;
    border-top: 1px solid var(--gray);
}
.main > div.divider.blank {
    border-top: none;
}
@media (max-width: 1000px) {
    .main > div.divider.blank.visible-mobile {
        border-top: 1px solid var(--gray);
    }
}

.main > #switcher {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
}
.main > #switcher > *:not(:first-of-type) {
    margin-left: 1.2rem;
}

@media (max-width: 1000px) {
    .main > #switcher > * {
        margin-top: .5rem;
    }
}


/* 
    OVERALL PAGE 
*/

#overall-page > #first-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
@media (max-width: 1000px) {
    #overall-page > #first-row {
        flex-wrap: wrap;
    }
}
#overall-page > #first-row > #seasonal-card {
    width: calc(100% * 1 / 3.001);
}
#overall-page > #first-row > #seasonal-card > #seasonal-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-evenly;
}
#overall-page > #first-row > #seasonal-card > #season {
    font-size: 2rem;
    margin-right: .3rem;
}
#overall-page > #first-row > #seasonal-card > #sqs {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
#overall-page > #first-row > #seasonal-card > #sqs > .sqs-button {
    will-change: transform;
    transition: transform 0.2s ease-out;
    cursor: pointer;
}
#overall-page > #first-row > #seasonal-card > #sqs > .sqs-button:hover {
    transform: scale(1.09);
}


#overall-page > #first-row > #queue-card {
    width: calc(100% * 2 / 3.001);
}
.gamemode-header {
    margin-top: 2rem;
}

/* 
    OVERALL PAGE END 
*/



/*
    OPERATORS PAGE
*/

#operators-page > table {
    margin-top: 3rem;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    width: 100%;
    color: var(--chaun-blue);
}
#operators-page > table > thead > tr > th {
    font-size: 1.4rem;
    line-height: 1.4;
}
#operators-page > table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}
#operators-page > table > tbody > tr > td.operator_name_cell {
    height: 4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    justify-content: center;
}

#operators-page > table > tbody > tr:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}

/*
    OPERATORS PAGE END
*/



/*
    SEASONS PAGE
*/
@media (max-width: 1000px) {
    .seasonal-card {
        width: calc(100% - 1.7rem) !important;
    }
    .seasonal-card > div > div > div.flex-col-cen-mid {
        margin: .5rem 0 .5rem 0;
    }
}

/*
    SEASONS PAGE END
*/



/*
    WEAPONS PAGE
*/

#weapons-page > #top-3-weapons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}
#weapons-page > #top-3-weapons > div {
    width: 25%;
}
.dark-mode #weapons-page > #top-3-weapons > div > img {
    filter: invert(100%);
}
#weapons-page > #all-weapons {
    margin: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
#weapons-page > #all-weapons > div {
    width: 25%;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
}

@media (max-width: 1000px) {
    #weapons-page > #top-3-weapons > div {
        width: 100%;
    }
    #weapons-page > #all-weapons > div {
        width: 45%;
        padding: 0.3rem;
        margin: 1rem 0 1rem 0;
    }
}

/*
    WEAPONS PAGE END
*/


/*
    TRENDS PAGE
*/
#trends-page {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
}
#trends-page > #chart-select-range-parent {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: center;
    margin-left: 1.5rem;
}
#trends-page > #chart-select-range-parent #chartSelector {
    font-size: 1rem;
    line-height: 1;
    height: 2rem;
    border-radius: 0;
    background-color: var(--background-color);
}
#trends-page > #canvas-parent {
    margin-top: 2rem;
    width: 100%;
}

/*
    TRENDS PAGE END
*/



/* 
    Random Utils 
*/

.text-nowrap {
    white-space: nowrap !important;
}
.text-large-2 {
    font-size: 2rem !important;
    line-height: 2 !important;
}
.text-large {
    font-size: 1.5rem !important;
    line-height: 1.5 !important;
}
.text-small {
    font-size: 1rem !important;
    line-height: 1 !important;
}
.text-center {
    text-align: center !important;
}
.text-middle {
    vertical-align: middle !important;
}
@media (max-width: 1000px) {
    .text-center-mobile {
        text-align: center !important;
    }
}


.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
}
.flex-col-cen-mid {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.flex-col-reverse {
    display: flex;
    flex-flow: column-reverse;
}
.flex-row-nowrap-cent-mid {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.flex-row-nowrap-cent-evenly {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.flex-row-wrap-cent-evenly {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}
.flex-row-base-between {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.flex-row-cent-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.width-1-4 {
    width: 25%;
}
.width-3-4 {
    width: 75%;
}

@media (max-width: 1000px) {
    .width-1-4-mobile {
        width: 25% !important;
    }
    .width-full-mobile {
        width: 100% !important;
    }
    .child-width-1-1-mobile > * {
        width: 100% !important;
    }
    .child-width-1-2-mobile > * {
        width: 50% !important;
    }
    .child-width-1-3-mobile > * {
        width: calc(100% * 1 / 3.001) !important;
    }
    .child-width-1-4-mobile > * {
        width: 25% !important;
    }
    .child-width-1-5-mobile > * {
        width: 20% !important;
    }
    .child-width-1-6-mobile > * {
        width: calc(100% * 1 / 6.001) !important;
    }
}

.child-width-1-1 > * {
    width: 100%;
}
.child-width-1-2 > * {
    width: 50%;
}
.child-width-1-3 > * {
    width: calc(100% * 1 / 3.001);
}
.child-width-1-4 > * {
    width: 25%;
}
.child-width-1-5 > * {
    width: 20%;
}
.child-width-1-6 > * {
    width: calc(100% * 1 / 6.001);
}

.margin-1-top {
    margin-top: 1rem;
}
.margin-1-top {
    margin-top: 1rem;
}
.margin-1-left {
    margin-left: 1rem;
}
.margin-0-left {
    margin-left: 0;
}
.margin-1-right {
    margin-right: 1rem;
}
.margin-0-bottom {
    margin-bottom: 0;
}
.margin-1-bottom {
    margin-bottom: 1rem;
}

.margin-0-y {
    margin-top: 0;
    margin-bottom: 0;
}
.margin-1-y {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.padding-1-x {
    padding-left: 1rem;
    padding-right: 1rem;
}

.child-margin-1-top > * {
    margin-top: 1rem;
}

.switch-button {
    text-transform: uppercase;
    will-change: transform;
    transition: transform 0.1s ease-out;
    cursor: pointer;
}
.switch-button:hover {
    transform: scale(1.09);
}

.card {
    margin: 1rem;
    padding: 2rem;
}
.card-shadow-around {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: box-shadow 0.2s ease-in-out;
}
.dark-mode .card-shadow-around {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    transition: box-shadow 0.2s ease-in-out;
}

.card-shadow-around:not(.no-hover):hover {
    box-shadow: rgba(99, 99, 99, 0.4) 2px 4px 16px 0px;
}
.dark-mode .card-shadow-around:not(.no-hover):hover {
    box-shadow: rgba(0, 0, 0, 0.4) 2px 4px 16px 0px;
}

@media (max-width: 1000px) {
    .card {
        padding: 2rem 0 2rem 0;
        margin: 0;
    }
    .card-shadow-below,
    .card-shadow-around {
        box-shadow: none !important;
    }
}


/* Peekaboo */
.hidden-other {
    display: none;
}
@media (max-width: 1000px) {
    .hidden-mobile {
        display: none;
    }
    .hidden-other {
        display: block;
    }
}
