
.main {
    width: 100%;
    max-width: 1000px;
    margin-top: 3rem;
    display: flex;
    flex-flow: column;
}
@media screen and (max-width: 1000px) {
    .main {
        margin-top: 5rem;
    }
}

.user-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end
}
.user-header > .left {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end
}
.user-header > .left > .header-stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
}
.user-header > .left > .header-stats > * {
    margin-left: 0.6rem;
    font-size: 2rem;
}
.user-header > .left > #profile_picture {
    width: 10rem;
    height: 10rem;
    display: block;
}
.user-header > .left > #username {
    line-height:100%;
    font-size:3rem;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.user-header > .right {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
}
#siegeManualUpdateButton {
    cursor: pointer;
}
#siegeManualUpdateButton.requested {
    cursor: wait;
}

@media screen and (max-width: 1000px) {
    .user-header {
        justify-content: center;
    }
    .user-header > .left {
        justify-content: center;
    }
    .user-header > .right {
        margin-top: 1rem;
    }
}

/* Divider */
.main > div.divider {
    width: 100%;
    margin: 1rem 0 1rem 0;
    padding: 0;
    border-top: 1px solid var(--gray);
}
.main > div.divider.blank {
    border-top: none;
}
@media screen and (max-width: 1000px) {
    .main > div.divider.blank.visible-mobile {
        border-top: 1px solid var(--gray);
    }
}

.main > #switcher {
    border: 3px solid var(--chaun-blue);
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: baseline;
    border: 10px;
    cursor: pointer;
}
.main > #switcher > * {
    text-transform: uppercase;
    padding: .3rem .5rem .3rem .5rem;
    color: var(--background-color);
    background-color: var(--chaun-blue);
    will-change: transform;
    transition: transform 0.1s ease-out;
}
.main > #switcher > *:hover {
    transform: scale(0.95);
}
.main > #switcher > *:not(:first-of-type) {
    margin-left: 1rem;
}

@media screen and (max-width: 1000px) {
    .main > #switcher {
        justify-content: center;
    }
    .main > #switcher > * {
        margin-top: .5rem;
    }
}
