.hidden-other {
    display: none;
}
.text-center-xy {
    text-align: center;
    vertical-align: middle;
}

div.overflow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
div.main {
    margin-top: 5rem;
    display: flow-root;
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    width: 100%;
    color: var(--chaun-blue);
}
table thead tr th {
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-size: 1.15rem;
}
table thead tr th.name,
table tbody tr td.name {
    text-align: start !important;
    padding-left: 1rem;
}
table tbody tr td.name a {
    text-decoration: none;
    font-weight: 500;
}

table tbody#tableDataPlace tr td {
    text-align: center;
    vertical-align: middle;
}
.rank-img-cell {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 2rem;
}

.main .above-table {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.main .above-table .right {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
}
#siegeManualUpdateButton {
    cursor: pointer;
}
#siegeManualUpdateButton.requested {
    cursor: wait;
}

@media (max-width: 1000px) {
    .hidden-mobile {
        display: none;
    }
    .hidden-other {
        display: block;
    }
    table td {
        padding: 0.5rem 0 0.5rem 0;
    }

    .main .above-table {
        justify-content: flex-end;
    }
    .main .above-table .right {
        margin-top: 0.3rem;
    }
}
