
.center-container {
    margin-top: 6rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    color: var(--chaun-blue);
}
.stats-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.stats-container .header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: var(--chaun-blue);
    font-weight: 700;
    font-size: 3rem;
}
.stats {
    margin-top: 1.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.stats .stat span {
    font-weight: 500;
}
.stats .or {
    font-size: 1rem;
}
.chat-totals .stats .stat:not(:last-of-type) {
    margin-bottom: 1rem;
}

@media (max-width: 1000px) {
    .voice-totals {
        margin-top: 2rem;
    }
    .center-container {
        margin-top: 4rem;
        font-size: 1.75rem;
    }
}
