#main {
    width: 100%;
    max-width: 1000px;
    margin-top: 3rem;
}
@media (min-width: 2000px) {
    #main {
        max-width: 1500px;
    }
}

.data-switcher {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--chaun-blue);
}
.data-switcher > div {
    cursor: pointer;
    margin: 0 1rem 0 1rem;
    will-change: transform;
    transition: transform 0.25s ease-out;
}
.data-switcher > div:hover {
    transform: scale(1.05);
}

#charts {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
}

#year-switcher {
    margin: 1.5rem 0 1.5rem 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}
#year-switcher > #year-switcher-header {
    width: 50%;
    text-align: center;
    margin-bottom: .5rem;
}
#year-switcher > #year-switcher-years {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}
#year-switcher > #year-switcher-years > a {
    text-decoration: none;
    transition: transform 0.25s ease-out;
}
#year-switcher > #year-switcher-years > a:hover {
    transform: scale(1.05);
}
