
#main {
    width: 75%;
    display: grid;
    place-items: center;
    height: 90vh;
}
#main > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
#main > #progress-div {
    width: 100%;
    max-width: 1000px;
}
#main > #progress-div > span,
#main > div {
    font-size: 2rem;
    font-weight: 700;
}
#done {
    text-align: center;
}
#percentage {
    font-size: 4rem !important;
}

progress {
    width: 100%;
}
