html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #d8e0ed;
}
.poppins{
  font-family: 'Poppins';
}
.midel{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gradient-big-text::before{
  text-align: left;
  font-size: 7vh;
  text-transform: uppercase;
  background: linear-gradient(to left, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  content: "keep looking chief";
}
